
textarea {
    height: 10rem !important;
}

.product-pic {
    max-width: 222px;
    max-height: 222px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.file-upload {
    display: none;
}

.square {
    overflow: hidden;
    width: 228px;
    height: 228px;
    border: 8px solid #dbdbdb;
    transition: all .3s;
}

.square:hover {
    background-color: #909090;
    cursor: pointer
}

img {
    max-width: 100%;
    height: auto;
    min-width: 212px;
    min-height: 212px
}

h1.navbar-brand {
    font-size: 3rem !important;
}
