.profile-header {
    position:relative;
    overflow: hidden;
    margin:0px;
    padding:0px;
}

.profile-header .profile-header-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.profile-header .profile-header-cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile-header .profile-header-content {
    color: #000;
    padding: 25px;
}

.profile-header-img {
    float: left;
    width: 120px;
    height:120px;
    position: relative;
    
    display:inline-block;
    border-radius:4px;
    background: #000;
    border-radius: 50%;
}


.profile-header-info h4 {
    font-weight: 500;
    color: #000;
}

.profile-header-img+.profile-header-info {
    margin-left: 150px;
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
    position: relative;
}

.artwork-header-img{
    
    width: 200px;
    height:200px;
    position: relative;
    
    display:inline-block;
    border-radius:4px;
    background: #fff;
    
}

h1.navbar-brand {
    font-size: 2rem !important;
}

.card a {
    color: inherit !important;
    text-decoration: none !important;
}