.btn-secondary {
    background-color: #f7f7f7 !important;
    border-color: #ced4da !important;
    transition: background-color ease .3s;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #e0e0e0 !important;
    transition: background-color ease .3s;
}

h1.navbar-brand {
    font-size: 2.5rem !important;
}

.card a {
    color: inherit !important;
    text-decoration: none !important;
}