a.btn-primary {
    color: #fff !important;
}

.btn-primary {
    background-color: #4057A1 !important;
    border-color: #4057A1 !important;
    transition: ease .3s all;
}

.btn-primary:hover {
    background-color: #2A396A !important;
    border-color: #2A396A !important;
    transition: ease .3s all;
}