body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    transition: ease 0.3s all;
}

a:hover {
    color: black !important;
    transition: ease 0.3s all;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -5;
}

.navbar-brand {
    font-family: "STIX Two Math", serif !important;
}

.text-danger:hover {
    color: #dc3545 !important;
}

.alert {
    width: 25rem !important;
    margin: 3.5rem 2.5rem !important;
}

textarea {
    height: 10rem !important;
}

.profile-pic {
    max-width: 222px;
    max-height: 222px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 50%;
    overflow: hidden;
    width: 228px;
    height: 228px;
    border: 8px solid #dbdbdb;

    top: 72px;
    transition: all 0.3s;
}

.circle:hover {
    background-color: #909090;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
    min-width: 212px;
    min-height: 212px;
}
