a.btn-primary {
  color: #fff !important;
}

.btn-primary {
  background-color: #4057a1 !important;
  border-color: #4057a1 !important;
  transition: ease 0.3s all;
}

.btn-primary:hover {
  background-color: #2a396a !important;
  border-color: #2a396a !important;
  transition: ease 0.3s all;
}

h1.navbar-brand {
  font-size: 3rem !important;
}
